<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <div id="signup-form" class="auth-form">
            <div class="container">
                <form action="/auth/signUp" method="POST">
                    <div class="row">
                        <% if (message && message.body) { %>
                            <div class="col-sm-12 col-md-12 alert alert-<%= (message.type === 'success') ? 'success' : 'danger' %>" role="alert">
                                <%= message.body %>
                            </div>
                            <% } %>
                        <h2 class="text-center">Sign Up</h2>
                        <div class="col-sm-12 col-md-12 form-group">
                            <input type="text"
                                class="form-control <%= (message.type === 'error') ? errors.userName ? 'is-invalid' : '' : ''%>"
                                id="userName" name="userName" placeholder="User Name" value="<%= formData.userName??'' %>">
                            <% if (message.type==='error' && errors.userName) { %>
                                <div class="invalid-feedback">
                                    <%= errors.userName %>
                                </div>
                                <% } %>
                        </div>
        
                        <div class="col-sm-12 col-md-12 form-group">
                            <input type="email"
                                class="form-control <%= (message.type === 'error') ? errors.email ? 'is-invalid' : '' : ''%>"
                                id="email" name="email" placeholder="Email ID" value="<%= formData.email??'' %>">
                            <% if (message.type==='error' && errors.email) { %>
                                <div class="invalid-feedback">
                                    <%= errors.email %>
                                </div>
                                <% } %>
                        </div>
        
                        <div class="col-sm-12 col-md-12 form-group">
                            <input type="password"
                                class="form-control <%= (message.type === 'error') ? errors.password ? 'is-invalid' : '' : ''%>"
                                id="password" name="password" placeholder="Password" value="<%= formData.password??'' %>">
                            <% if(message.type==='error' && errors.password) { %>
                                <div class="invalid-feedback">
                                    <%= errors.password %>
                                </div>
                                <% } %>
                        </div>
        
                        <div class="col-sm-12 col-md-12 form-group">
                            <button type="submit" class="btn btn-primary btn-block" id="signup">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <%- include('./includes/tail.ejs') %>
    </body>
</html>