    <%- include('./includes/head.ejs') %>

    </head>
    <body>
        <h2><a href="">Welcome <%= user.userName %></a></h2>

        <div class="container">
            <% if(!products.length) { %>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-12">
                        <p>No Products Available!</p>
                    </div>
                </div>
            <% } else { %>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="left-heading">
                            <h3>Products</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="grid-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="align-middle">Product ID</th>
                                        <th scope="col" class="align-middle">Product Name</th>
                                        <th scope="col" class="align-middle">Quantity</th>
                                        <th scope="col" class="align-middle">Price (Rs.)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let product of products) { %>
                                        <tr>
                                            <td class="align-middle"><%= product.id %></td>
                                            <td class="align-middle"><%= product.name %></td>
                                            <td class="align-middle"><%= product.quantity %></td>
                                            <td class="align-middle"><%= product.price %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            <nav aria-label="Products Pagination">
                                <ul class="pagination justify-content-center">
                                  <li class="page-item">
                                    <a class="page-link" href="/home/?size=<%= size%>&page=<%= (currentPage>0) ? (currentPage-1) : 0 %>" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                  <% for (let pageNum=0; pageNum<totalPages; pageNum++) { %>
                                  <li class="page-item <%= currentPage==pageNum ? 'active' : '' %>"><a class="page-link" href="/home/?size=<%= size%>&page=<%= pageNum%>"><%= pageNum+1%></a></li>
                                  <% } %>
                                  <li class="page-item">
                                    <a class="page-link" href="/home/?size=<%= size%>&page=<%= (currentPage < totalPages-1) ? (currentPage+1) : (totalPages-1) %>" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        
        <%- include('./includes/tail.ejs') %>