<%- include('./includes/head.ejs') %>

</head>
<body>
    <h2><a href="">Welcome <%= user.userName %></a></h2>
    <section id="orders-list">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="left-heading">
                            <h2>Order History</h2>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="product-desc">
                            <h4>Total <%= totalItems %> orders in history!</h4>
                        </div>
                    </div>
                    <% if (!orders.length) { %>
                        <div class="col-sm-12 col-md-12 justify-content-center">
                            <p>Nothing to display here...</p>
                        </div>
                    <% } else { %>
                        <div class="col-12 col-sm-12 col-md-12 grid-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr style="height: 100px;">
                                        <th scope="col" class="align-middle text-center" style="transform: rotateZ(0.90turn);">Order<br>ID</th>
                                        <th scope="col" class="align-middle text-center" style="transform: rotateZ(0.90turn);">DATE</th>
                                        <th scope="col" class="align-middle text-center" style="transform: rotateZ(0.90turn);">Details</th>
                                        <th scope="col" class="align-middle text-center" style="transform: rotateZ(0.90turn);">Price</th>
                                        <th scope="col" class="align-middle text-center" style="transform: rotateZ(0.90turn);">Quantity</th>
                                        <th scope="col" class="align-middle text-center" style="transform: rotateZ(0.90turn);">Total</th>
                                        <th scope="col" class="align-middle text-center" style="transform: rotateZ(0.90turn);">Grand<br>Total</th>
                                        <th scope="col" class="align-middle text-center" style="transform: rotateZ(0.90turn);">Status</th>
                                        <th scope="col" class="align-middle text-center" style="transform: rotateZ(0.90turn); max-width: 160px;">Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (const item of orders) { %>
                                        <tr>
                                            <td class="align-middle" ><%= item.id %></td>
                                            <td class="align-middle" ><%= item.date.getDate()+'-'+item.date.getMonth()+'-'+item.date.getFullYear() %></td>
                                            <td class="align-middle" ><% for (const detail of item.orderdetails) { %><p style="display: table-row-group;"><%= detail.product.name %></p><% } %></td>
                                            <td class="align-middle" ><% for (const detail of item.orderdetails) { %><p style="display: table-row-group;"><%= detail.product.price %></p><% } %></td>
                                            <td class="align-middle" ><% for (const detail of item.orderdetails) { %><p style="display: table-row-group;"><%= detail.quantity %></p><% } %></td>
                                            <td class="align-middle" ><% for (const detail of item.orderdetails) { %><p style="display: table-row-group;"><%= detail.total %></p><% } %></td>
                                            <td class="align-middle" ><%= item.discountedAmount %></td>
                                            <td class="align-middle" ><%= item.status %></td>
                                            <td class="align-middle" style="max-width: 160px;"><%= item.remark %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <% if (totalPages > 0) { %>
            <nav aria-label="Cart Pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link"
                            href="/user/orderhistory/?size=<%= size%>&page=<%= (currentPage>0) ? (currentPage-1) : 0 %>"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% for (let pageNum=0; pageNum<totalPages; pageNum++) { %>
                        <li class="page-item <%= currentPage==pageNum ? 'active' : '' %>"><a
                                class="page-link"
                                href="/user/orderhistory/?size=<%= size%>&page=<%= pageNum%>">
                                <%= pageNum+1 %>
                            </a></li>
                    <% } %>
                    <li class="page-item">
                        <a class="page-link"
                            href="/user/orderhistory/?size=<%= size%>&page=<%= (currentPage < totalPages-1) ? (currentPage+1) : (totalPages-1) %>"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        <% } %>
    </section>
    
    <%- include('./includes/tail.ejs') %>